.container {
    display: flex;          
    justify-content: space-between; 
}
.block {
    width: 30%;           
    padding: 10px;        
    background-color: lightblue; 
    text-align: center;    
    }

#sss, #final {
    text-align: center; /* 文本居中 */
    margin: 20px; /* 添加一些外边距 */
}

